@media screen and (min-width: 1024px) {
  main {
    section {
      div[class*="Title"] {
        height: 14.53vw;
        h2 {
          height: 3.8vw;
          &::after {
            width: 7.8vw;
            height: 0.26vw;
          }
        }
      }
    }
    .start {
      background-image: url("../images/min/startback_min.jpg");
      background-position: center;
      max-width: 100vw;
      max-height: 526px;
      .startContent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .startTextCard {
          background-color: var(--color-black-opacity);
          backdrop-filter: blur(10px);
          transform: translateX(1.04vw);
          width: 37.29vw;
          height: 20.93vw;
          padding: 2.6vw 1.87vw 2.7vw 2.23vw;
        }
      }
    }
    .first {
      max-height: 997px;
      height: 51.92vw;
      .firstContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .firstSlider {
          max-height: 658px;
          height: 34.27vw;
          .sliderWrapper {
            gap: 1.38vw;
            .firstSliderCard {
              max-height: 638px;
              height: 33.22vw;
              .firstGalleryImage {
                position: relative;
                img {
                  max-width: 100%;
                  max-height: 618px;
                  height: 100%;
                }
                .galleryTextBlock {
                  max-height: 114px;
                  height: 5.93vw;
                  bottom: -1.04vw;
                  transform: translateX(-50%);
                  h3 {
                    font-weight: normal;
                    font-size: 1.45vw;
                  }
                  p {
                    font-weight: 100;
                    font-size: 0.83vw;
                    margin-top: 0.52vw;
                  }
                }
              }
            }
            .firstSliderCard:nth-of-type(1) {
              max-width: 575px;
              width: 29.94vw;
              .firstGalleryImage {
                .galleryTextBlock {
                  max-width: 535px;
                  width: 27.86vw;
                }
              }
            }
            .firstSliderCard:nth-of-type(2) {
              max-width: 339px;
              width: 17.65vw;
              .firstGalleryImage {
                .galleryTextBlock {
                  max-width: 299px;
                  width: 15.57vw;
                }
              }
            }
            .firstSliderCard:nth-of-type(3) {
              max-width: 454px;
              max-height: 618px;
              width: 23.64vw;
              .firstGalleryImage {
                .galleryTextBlock {
                  max-width: 415px;
                  width: 21.61vw;
                }
              }
            }
          }
        }
      }
    }
    .second {
      max-height: 606px;
      height: 31.56vw;
      .secondContent {
        background-image: url("../images/min/secondback_min.jpg");
        background-position: center right;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .secondTextCard {
          background-color: var(--color-white);
          width: 36.87vw;
          height: 20.93vw;
          padding: 2.6vw 2.86vw 2.7vw 2.23vw;
        }
      }
    }
    .third {
      max-height: 806px;
      height: 41.97vw;
      .thirdContent {
        display: flex;
        .thirdContentWrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          max-width: 968px;
          width: 50.41vw;
          height: 100%;
          .thirdSlider, .thirdButton {
            width: 100%;
          }
          .thirdTextBlock {
            max-width: 610px;
            width: 31.77vw;
            max-height: 259px;
            height: 13.48vw;
          }
          .thirdSlider {
            max-height: 325px;
            max-width: 903px;
            width: 47.03vw;
            height: 16.92vw;
            margin: 0;
            .thirdSliderWrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 100%;
              min-width: 0;
              .thirdSliderSlide {
                max-width: 257px;
                width: 13.38vw;
                height: 100%;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }
          }
          .thirdButton {
            max-height: 52px;
          }
        }
        .thirdContentVideo {
          max-width: 454px;
          width: 23.64vw;
          max-height: 100%;
          height: 100%;
          .playerWrapper {
            background-image: url("../images/min/playerpreview_min.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            #hoverLayer {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: transparent;
            }
            .playerWrapperTextBlock {
              background-color: var(--color-white);
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: absolute;
              gap: 1.04vw;
              max-width: 226px;
              width: 11.77vw;
              max-height: 110px;
              height: 5.72vw;
              padding: 0 1.56vw 0 1.56vw;
              bottom: 0;
              right: 0;
              .playerIconWrapper {
                max-height: 60px;
                max-width: 60px;
                width: 3.12vw;
                height: 3.12vw;
                #playerIcon {
                  background-color: var(--color-black-mixin);
                  position: relative;
                  cursor: pointer;
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                  span {
                    clip-path: polygon(0 0, 0 100%, 80% 50%);
                    background-color: var(--color-white);
                    color: transparent;
                    position: absolute;
                    max-height: 20px;
                    max-width: 18px;
                    width: 0.93vw;
                    height: 1vw;
                    border-radius: 5px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%, -45%);
                  }
                  &:hover {
                    background-color: var(--color-grey);
                  }
                }
              }
              .textContent {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                max-height: 42px;
                max-width: 86px;
                width: 4.47vw;
                height: 2.18vw;
                span {
                  line-height: 1;
                  font-weight: 600;
                  font-size: 0.93vw;
                }
                span:first-of-type {
                  color: var(--color-grey);
                }
                span:last-of-type {
                  color: var(--color-black-mixin);
                }
              }
            }
          }
          #videoPlayerModal {
            max-width: 1120px;
            max-height: 630px;
            width: 58.3vw;
            height: 32.8vw;
          }
        }
      }
    }
    .fourth {
      max-height: 803px;
      height: 41.82vw;
      .fourthContent {
        .fourthSlider {
          max-height: 502px;
          height: 26.14vw;
          width: 100%;
          padding: 40px 0 40px;
          .fourthSliderWrapper {
            display: flex;
            justify-content: space-between;
            .fourthSlide {
              max-width: 333px;
              max-height: 422px;
              width: 17.34vw;
              height: 21.97vw;
              .fourthSlideImage {
                max-height: 333px;
                height: 17.34vw;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
              .fourthSlideTextBlock {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 3px;
                max-height: 89px;
                height: 4.63vw;
                h3 {
                  font-size: 1.35vw;
                }
                p {
                  font-size: 0.83vw;
                }
              }
            }
          }
        }
      }
    }
    .fifth {
      max-height: 1391px;
      height: fit-content;
      .fifthContent {
        .fifthCatalogue {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          max-height: 1100px;
          height: 57.29vw;
          margin-top: 20px;
          padding: 20px 0 20px 0;
          .fifthCatalogueCard {
            display: flex;
            flex-direction: column;
            max-width: 333px;
            max-height: 530px;
            width: 17.34vw;
            height: 27.6vw;
            .fifthCatalogueImage {
              max-height: 333px;
              height: 17.34vw;
              img {
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
              }
            }
            &:hover {
              transform: scale(1.05);
            }
            .fifthCatalogueTextBlock {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              cursor: pointer;
              gap: 16px;
              max-height: 238px;
              height: 12.39vw;
              h3 {
                font-size: 1.35vw;
              }
              p {
                text-align: right;
                max-width: 161px;
                width: 8.38vw;
                font-size: 0.93vw;
              }
            }
          }
        }
      }
    }
    .sixth {
      max-height: 729px;
      height: 37.96vw;
      .sixthContent {
        background-image: url("../images/min/sixthback_min.jpg");
        background-size: auto;
        background-position: left center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .sixthTextCard {
          background-color: var(--color-white);
          max-width: 692px;
          max-height: 522px;
          width: 36.04vw;
          height: 27.18vw;
          padding: 6.25vw 7.91vw 6.25vw 4.47vw;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  main {
    section {
      div[class*="Title"] {
        height: 14.53vw;
        h2 {
          height: 7.13vw;
          &::after {
            width: 17.66vw;
            height: 0.48vw;
          }
        }
      }
    }
    .start {
      background-image: url("../images/min/startback_min.jpg");
      background-size: cover;
      background-position: 15% center;
      max-width: 100vw;
      max-height: 954px;
      .startContent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .startTextCard {
          background-color: var(--color-black-opacity);
          backdrop-filter: blur(10px);
          transform: translateX(1.04vw);
          z-index: auto;
          width: 69.99vw;
          height: 39.29vw;
          padding: 4.88vw 3.51vw 5.08vw 4.2vw;
        }
      }
    }
    .first {
      max-height: 917px;
      height: fit-content;
      .firstContent {
        .firstSlider {
          width: 100%;
          max-height: 718px;
          height: 70.18vw;
          padding: 40px 0 40px 0;
          .sliderWrapper {
            .firstSliderCard {
              max-height: 638px;
              width: 100%;
              height: 62.36vw;
              min-width: 0;
              .firstGalleryImage {
                position: relative;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
                .galleryTextBlock {
                  max-height: 114px;
                  height: 11.14vw;
                  bottom: -20px;
                  transform: translateX(-50%);
                  h3 {
                    font-weight: normal;
                    font-size: 2.73vw;
                  }
                  p {
                    font-weight: 100;
                    font-size: 1.56vw;
                    margin-top: 0.52vw;
                  }
                }
              }
            }
            .sliderRowCard {
              .firstGalleryImage {
                .galleryTextBlock {
                  max-width: 299px;
                  width: 29.22vw;
                }
              }
            }
            .sliderColumnCard {
              .firstGalleryImage {
                width: 44.37vw;
                .galleryTextBlock {
                  max-width: 415px;
                  width: 40.56vw;
                }
              }
            }
          }
        }
      }
    }
    .second {
      max-height: 606px;
      height: 59.23vw;
      .secondContent {
        background-image: url("../images/min/secondback_min.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .secondTextCard {
          background-color: var(--color-white);
          max-width: 708px;
          max-height: 402px;
          width: 69.2vw;
          height: 39.29vw;
          padding: 4.88vw 5.37vw 5.08vw 4.2vw;
        }
      }
    }
    .third {
      max-height: 806px;
      height: 78.78vw;
      .thirdContent {
        display: flex;
        .thirdContentWrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          width: 100%;
          height: 100%;
          .thirdSlider, .thirdButton {
            width: 100%;
          }
          .thirdTextBlock {
            max-height: 259px;
            height: 25.31vw;
          }
          .thirdSlider {
            max-height: 325px;
            width: 100%;
            height: 31.76vw;
            .thirdSliderWrapper {
              .thirdSliderSlide {
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }
          .thirdButton {
            max-height: 52px;
          }
        }
        .thirdContentVideo {
          display: none;
        }
      }
    }
    .fourth {
      max-height: 803px;
      height: fit-content;
      .fourthContent {
        .fourthSlider {
          max-height: 502px;
          height: 49.07vw;
          width: 100%;
          padding: 20px 0 20px;
          .fourthSliderWrapper {
            .fourthSlide {
              max-width: 333px;
              max-height: 422px;
              width: 32.55vw;
              height: 41.25vw;
              .fourthSlideImage {
                max-height: 333px;
                height: 32.55vw;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
              .fourthSlideTextBlock {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 3px;
                max-height: 91px;
                height: 4.73vw;
                h3 {
                  font-size: 2vw;
                  margin-top: 20px;
                }
                p {
                  font-size: 2vw;
                }
              }
            }
          }
        }
      }
    }
    .fifth {
      max-height: fit-content;
      height: fit-content;
      .fifthContent {
        .fifthCatalogue {
          display: flex;
          flex-wrap: wrap;
          gap: 1.95vw;
          max-height: fit-content;
          height: fit-content;
          margin-top: 20px;
          padding: 20px 0 20px 0;
          .fifthCatalogueCard {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            max-height: 530px;
            width: 29.32vw;
            height: 51.8vw;
            h3 {
              text-align: center;
            }
            .fifthCatalogueImage {
              max-height: 333px;
              max-width: 333px;
              width: 32.55vw;
              height: 32.55vw;
              img {
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
              }
            }
            &:hover {
              transform: scale(1.05) translateY(10px);
            }
            .fifthCatalogueTextBlock {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              cursor: pointer;
              gap: 16px;
              max-height: 238px;
              height: 12.39vw;
              h3 {
                font-size: 2vw;
              }
              p {
                text-align: right;
                max-width: 161px;
                width: 15.73vw;
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
    .sixth {
      max-height: 729px;
      height: 71.26vw;
      .sixthContent {
        background-image: url("../images/min/sixthback_min.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .sixthTextCard {
          background-color: var(--color-white);
          width: 67.64vw;
          height: 51.02vw;
          padding: 11.73vw 14.85vw 11.73vw 8.4vw;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 429px) {
  main {
    section {
      div[class*="Title"] {
        height: 20.73vw;
        h2 {
          height: 9.51vw;
          &::after {
            width: 28vw;
            height: 0.4vw;
          }
        }
      }
    }
    .start {
      background-image: url("../images/startbackmobile.jpg");
      background-position: top center;
      background-size: contain;
      max-width: 100vw;
      height: 101.43vw;
      .startContent {
        .startTextCard {
          background-color: var(--color-black-opacity);
          backdrop-filter: blur(10px);
          height: 50vw;
          padding: 4.14vw 3.77vw 5.17vw 3.77vw;
        }
      }
    }
    .first {
      max-height: 820px;
      height: 106.9vw;
      .firstContent {
        .firstSlider {
          width: 100%;
          max-height: 618px;
          height: 80.57vw;
          margin-top: 20px;
          .sliderWrapper {
            .firstSliderCard {
              max-height: 638px;
              width: 100%;
              height: 62.36vw;
              min-width: 0;
              .firstGalleryImage {
                position: relative;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
                .galleryTextBlock {
                  max-height: 114px;
                  height: 11.14vw;
                  width: 100%;
                  bottom: 0;
                  transform: translateX(-50%);
                  h3 {
                    font-weight: normal;
                    font-size: 2.73vw;
                  }
                  p {
                    font-weight: 100;
                    font-size: 2.08vw;
                    margin-top: 0.52vw;
                  }
                }
              }
            }
            .sliderRowCard {
              .firstGalleryImage {
                max-height: 618px;
                height: 80.57vw;
              }
            }
            .sliderRowCard:nth-of-type(2) {
              .firstGalleryImage {
                max-width: 575px;
                width: 74.96vw;
                min-width: 41.92vw;
              }
            }
            .sliderRowCard:nth-of-type(3) {
              .firstGalleryImage {
                max-width: 339px;
                width: 44.19vw;
              }
            }
            .sliderColumnCard {
              .firstGalleryImage {
                max-width: 454px;
                max-height: 274px;
                width: 59.19vw;
                height: 35.72vw;
              }
            }
          }
        }
      }
    }
    .second {
      background-image: url("../images/min/secondback_min.jpg");
      background-position: bottom left;
      background-size: contain;
      background-repeat: no-repeat;
      max-height: 768px;
      height: 100.1vw;
      .secondContent {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .secondTextCard {
          background-color: var(--color-white);
          height: 50vw;
          padding: 5.14vw 4.67vw 8.17vw 4.67vw;
        }
      }
    }
    .third {
      max-height: 768px;
      height: 100.1vw;
      .thirdContent {
        display: flex;
        .thirdContentWrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
          .thirdTextBlock {
            text-align: center;
            max-height: 269px;
            height: 35.07vw;
          }
          .thirdSlider {
            max-height: 325px;
            width: 100%;
            height: 34.81vw;
            margin-top: 20px;
            .thirdSliderWrapper {
              .thirdSliderSlide {
                max-width: 100%;
                max-height: 100%;
                width: 27.5vw;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }
          .thirdButton {
            display: none;
          }
        }
        .thirdContentVideo {
          display: none;
        }
      }
    }
    .fourth {
      max-height: 768px;
      height: 100.1vw;
      .fourthContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .fourthSlider {
          max-height: 301px;
          height: 39.24vw;
          width: 100%;
          margin-top: 20px;
          .fourthSliderWrapper {
            .fourthSlide {
              //211px
              max-width: 333px;
              max-height: 100%;
              width: 27.5vw;
              height: 55vw;
              .fourthSlideImage {
                //211px
                max-height: 333px;
                height: 27.5vw;
                width: 100%;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
              .fourthSlideTextBlock {
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                gap: 3px;
                max-height: 91px;
                height: 11.86vw;
                p {
                  font-size: 2.34vw;
                }
              }
            }
          }
        }
      }
    }
    .fifth {
      display: none;
    }
    .sixth {
      background-image: url("../images/min/sixthback_min.jpg");
      background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;
      max-height: 768px;
      height: 100.1vw;
      .sixthContent {
        display: flex;
        align-items: flex-start;
        .sixthTextCard {
          background-color: var(--color-white);
          height: 50vw;
          padding: 5.14vw 4.67vw 10.98vw 4.9vw;
        }
      }
    }
  }
}
@media screen and (max-width: 428px) and (min-width: 300px) {
  main {
    section {
      div[class*="Title"] {
        height: 30.14vw;
        h2 {
          height: 9.34vw;
          &::after {
            width: 29.2vw;
            height: 0.7vw;
          }
        }
      }
    }
    .start {
      background-image: url("../images/startbackmobile.jpg");
      background-position: top left;
      background-size: contain;
      max-height: 727px;
      height: 159.88vw;
      .startContent {
        display: flex;
        align-items: flex-end;
        .startTextCard {
          background-color: var(--color-black-opacity);
          backdrop-filter: blur(10px);
          height: 76.63vw;
          padding: 5.14vw 4.67vw 8.17vw 4.67vw;
        }
      }
    }
    .first {
      max-height: 653px;
      height: fit-content;
      .firstContent {
        .firstSlider {
          max-height: 445px;
          height: fit-content;
          width: 100%;
          padding: 0 0 40px 0;
          margin-top: 20px;
          .sliderWrapper {
            .firstSliderCard {
              max-height: 405px;
              height: 94.62vw;
              width: 100%;
              min-width: 0;
              .firstGalleryImage {
                position: relative;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
                .galleryTextBlock {
                  max-width: 361px;
                  max-height: 93px;
                  width: 84.34vw;
                  height: 21.72vw;
                  bottom: -10px;
                  padding: 4.67vw 11.68vw 3.5vw 11.68vw;
                  transform: translate(-50%, 5vw);
                  h3 {
                    font-weight: normal;
                  }
                  p {
                    font-weight: 100;
                    font-size: 3.5vw;
                  }
                }
              }
            }
            .sliderRowCard:nth-of-type(3) {
              .firstGalleryImage {
                max-width: 339px;
                width: 51.86vw;
              }
            }
            .sliderColumnCard {
              .firstGalleryImage {
                max-width: 454px;
                max-height: 274px;
                width: 73.13vw;
                height: 44.15vw;
                //width: 64.25vw;
                //height: 38.78vw;
              }
            }
          }
        }
      }
    }
    .second {
      background-image: url("../images/min/secondbackmobile_min.jpg");
      background-position: bottom left;
      background-repeat: no-repeat;
      max-height: 817px;
      height: 190.88vw;
      .secondContent {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .secondTextCard {
          background-color: var(--color-white);
          height: 86.21vw;
          padding: 5.14vw 4.67vw 8.17vw 4.67vw;
        }
      }
    }
    .third {
      max-height: 653px;
      height: fit-content;
      padding: 40px 0 40px 0;
      .thirdContent {
        display: flex;
        .thirdContentWrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          max-width: 388px;
          width: 90.65vw;
          height: 100%;
          .thirdSlider {
            width: 100%;
          }
          .thirdTextBlock {
            text-align: center;
            height: fit-content;
            gap: 20px;
          }
          .thirdSlider {
            width: 100%;
            max-height: 325px;
            margin-top: 20px;
            .thirdSliderWrapper {
              .thirdSliderSlide {
                display: flex;
                justify-content: center;
                max-width: 100%;
                max-height: 100%;
                width: 60.04vw;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }
          .thirdButton {
            display: none;
          }
        }
        .thirdContentVideo {
          display: none;
        }
      }
    }
    .fourth {
      max-height: 757px;
      height: fit-content;
      .fourthContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .fourthSlider {
          max-height: 481px;
          width: 100%;
          margin-top: 20px;
          .fourthSliderWrapper {
            .fourthSlide {
              display: flex;
              align-items: center;
              flex-direction: column;
              max-height: 464px;
              .fourthSlideImage {
                //333px
                max-height: 333px;
                height: 77.33vw;
                width: 77.8vw;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
              .fourthSlideTextBlock {
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                gap: 3px;
                max-height: 91px;
                height: 21.26vw;
              }
            }
          }
        }
      }
    }
    .fifth {
      display: none;
    }
    .sixth {
      background-image: url("../images/min/sixthback_min.jpg");
      background-size: auto;
      background-position: bottom center;
      background-repeat: no-repeat;
      max-height: 907px;
      height: 211.91vw;
      .sixthContent {
        background-image: url("../images/hexagons.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: bottom left;
        display: flex;
        align-items: flex-start;
        .sixthTextCard {
          background-color: var(--color-white);
          height: 71.96vw;
          padding: 5.14vw 4.67vw 10.98vw 4.9vw;
        }
      }
    }
  }
}