@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Semibold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNovaT-Thin.ttf");
    font-weight: 100;
}

/*-Reset-Construction-*/
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; font-family: "Proxima Nova", sans-serif}
body { width: 100%; height: 100%;}
body.lock {
    overflow-y: hidden;
}
header, nav, main, footer { display: block; overflow: hidden;}
button, input, a { cursor: pointer;}
a { text-decoration: none;}
ul li { list-style: none;}
ul li:hover {
    color: var(--color-grey);
    cursor: pointer;
}
/*-Variables-*/
:root {
    --color-black: rgba(0, 0, 0, 1);
    --color-black-opacity: rgba(0, 0, 0, 0.36);
    --color-black-mixin: rgba(16, 16, 16, 1);
    --color-grey: rgba(151, 151, 151, 1);
    --color-light-grey: rgba(164, 164, 164, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-opacity: rgba(255, 255, 255, 0.7);
}
.contentBorder {
    width: 1422px;
    margin: 0 auto;
    height: 100%;
}
section .contentBorder {
    padding: 40px 0 40px 0;
}
.headerTopButton {
    width: 25px;
    height: 25px;
}
.icon:hover {
    transform: scale(1.2);
}
.tech_darkButton {
    background-color: var(--color-black-mixin);
    color: var(--color-white);
}
.tech_darkButton:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
}
.tech_lightButton {
    background-color: var(--color-white);
    color: var(--color-black);
}
.tech_lightButton:hover {
    background-color: var(--color-black-mixin);
    color: var(--color-white);
}
.tech_ancButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    max-width: 180px;
    max-height: 52px;
}
header {
    background-color: var(--color-white);
    position: fixed;
    z-index: 9;
    width: 100%;
}
header #menuContent .searchForm input {
    background-color: var(--color-white);
    outline: none;
    font-weight: normal;
    border: 1px var(--color-grey) solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
    font-size: 1rem;
}
.footerColumn > * {
    width: 100%;
}
.tech_textBlock {
    max-width: 716px;
    max-height: 402px;
}
.tech_secTitleBlock {
    text-align: center;
}
@media screen and (max-width: 1920px) and (min-width: 1024px) {
    .contentBorder {
        width: 74vw;
        margin: 0 auto;
    }
    .icon {
        max-width: 17px;
        max-height: 17px;
        width: 100%;
    }
    .tech_ancButton {
        width: 9.37vw;
        height: 2.7vw;
        font-size: 0.83vw;
    }
    .tech_secTitleBlock h2 {
        color: var(--color-black-mixin);
        font-weight: 700;
        font-size: 2.4vw;
    }
    .tech_secTitleBlock p {
        color: var(--color-black-mixin);
        font-weight: 100;
        font-size: 1.04vw;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contentBorder {
        width: 92vw;
        margin: 0 auto;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 767px) and (min-width: 425px) {
    .contentBorder {
        width: 92vw;
        margin: 0 auto;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 424px) and (min-width: 300px) {
    .contentBorder {
        width: 92vw;
        margin: 0 auto;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}