@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Semibold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNova-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../styles/fonts/ProximaNovaT-Thin.ttf");
    font-weight: 100;
}
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; font-family: "Proxima Nova", sans-serif}
body { width: 100%; height: 100%;}
body.lock {
    overflow-y: hidden;
}
header, nav, main, footer { display: block; overflow: hidden;}
button, input, a { cursor: pointer;}
a { text-decoration: none;}
ul li { list-style: none;}
ul li:hover {
    color: var(--color-grey);
    cursor: pointer;
}
.footerColumn > * {
    color: var(--color-white);
    width: 100%;
}
:root {
    --color-black: rgba(0, 0, 0, 1);
    --color-black-opacity: rgba(0, 0, 0, 0.36);
    --color-black-mixin: rgba(16, 16, 16, 1);
    --color-grey: rgba(151, 151, 151, 1);
    --color-light-grey: rgba(164, 164, 164, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-opacity: rgba(255, 255, 255, 0.7);
}
.contentBorder {
    width: 1422px;
    margin: 0 auto;
    height: 100%;
}
main {
    flex: 1 1 auto;
    margin: 0 auto;
}
section {
    background-repeat: no-repeat;
    width: 100%;
}
section .contentBorder {
    padding: 40px 0 40px 0;
}
footer {
    background-color: var(--color-black-mixin);
}
.logo {
    display: flex;
    align-items: center;
    max-width: 162px;
    max-height: 57px;
}
.icon:hover {
    transform: scale(1.2);
}
.tech_darkButton {
    background-color: var(--color-black-mixin);
    color: var(--color-white);
}
.tech_darkButton:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
}
.tech_lightButton {
    background-color: var(--color-white);
    color: var(--color-black);
}
.tech_lightButton:hover {
    background-color: var(--color-black-mixin);
    color: var(--color-white);
}
.tech_ancButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    max-width: 180px;
    max-height: 52px;
}
.fourthButton, .fifthButton {
    display: flex;
    justify-content: center;
}
#burgerIcon span, #burgerIcon::before, #burgerIcon::after {
    content: "";
    background-color: var(--color-black);
    position: absolute;
    height: 10%;
    width: 100%;
    left: 0;
    transition: 0.3s ease 0s;
}
#burgerIcon {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 3;
    width: 30px;
    height: 20px;
}
#burgerIcon span {
    top: 50%;
    transform: scale(1) translateY(-50%) translateX(0%);
}
#burgerIcon::before {
    top: 0;
}
#burgerIcon::after {
    bottom: 0;
}
#burgerIcon.active::before{
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
#burgerIcon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}
#burgerIcon.active span {
    top: 50%;
    transform: scale(1) translateX(140px);
}
.footerContactList {
    display: flex;
    gap: 15px;
}
header {
    background-color: var(--color-white);
    position: fixed;
    z-index: 9;
    width: 100%;
}
header #menuContent .searchForm input {
    background-color: var(--color-white);
    outline: none;
    font-weight: normal;
    border: 1px var(--color-grey) solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
    font-size: 1rem;
}
.tech_textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tech_textBlock p {
    font-weight: 100;
    line-height: 1.5;
}
.tech_textBlock h1 {
    font-weight: 700;
}
.tech_textBlock {
    max-width: 716px;
    max-height: 402px;
}
.tech_white {
    color: var(--color-white);
}
.tech_secTitleBlock {
    color: var(--color-black-mixin);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-height: 159px;
}
.tech_secTitleBlock h2 {
    position: relative;
    max-height: 73px;
}
.tech_secTitleBlock h2::after {
    content: "";
    background-color: var(--color-grey);
    position: absolute;
    max-width: 150px;
    max-height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
hr {
    background-color: var(--color-grey);
    height: 2px;
    width: 100%;
    margin: 32px 0 34px 0;
}

@media screen and (max-width: 1920px) and (min-width: 1024px) {
    .contentBorder {
        width: 74vw;
    }
    .icon {
        max-width: 17px;
        max-height: 17px;
        width: 100%;
    }
    .logo img {
        width: 8.43vw;
    }
    .tech_ancButton {
        width: 9.37vw;
        height: 2.7vw;
        font-size: 0.83vw;
    }
    .tech_secTitleBlock {
        max-height: 8.28vw;
        height: 8.28vw;
    }
    .tech_secTitleBlock p {
        font-weight: 100;
        font-size: 1.04vw;
    }
    .tech_textBlock {
        max-width: 716px;
        max-height: 522px;
    }
    .tech_textBlock h1 {
        font-size: 2.5vw;
    }
    .tech_textBlock p {
        font-size: 1.1vw;
    }
    .tech_parFontSize {
        font-size: 1.04vw;
    }
    .tech_parFourteen {
        font-size: 0.72vw;
    }
    .tech_h3FontSize {
        font-size: 1.35vw;
    }
    h1, h2 {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contentBorder {
        width: 92vw;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
    .logo img {
        width: 9.87vw;
    }
    .tech_ancButton {
        width: 17.59vw;
        height: 5.08vw;
        font-size: 1.56vw;
    }
    .tech_textBlock {
        max-width: 716px;
        max-height: 522px;
    }
    h1, h2 {
        font-size: 4.69vw;
    }
    .tech_parFontSize, .tech_parFourteen {
        font-size: 1.95vw;
    }
    .tech_h3FontSize {
        font-size: 2.54vw;
    }
}
@media screen and (max-width: 767px) and (min-width: 429px) {
    .contentBorder {
        width: 90.65vw;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
    .logo img {
        min-width: 99px;
        width: 13.16vw;
    }
    .tech_textBlock {
        max-width: 716px;
        max-height: 522px;
    }
    .tech_ancButton {
        width: 100%;
        height: 6.77vw;
        font-size: 2.08vw;
    }
    .tech_parFontSize, .tech_parFourteen {
        font-size: 2.6vw;
    }
    .collapsible {
        display: none;
    }
    .tech_h3FontSize {
        font-size: 3.38vw;
    }
    h1, h2 {
        font-size: 6.25vw;
    }
}
@media screen and (max-width: 428px) and (min-width: 300px) {
    .contentBorder {
        width: 92vw;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
    .logo img, .footerMobileLogo img {
        width: 23.59vw;
    }
    section .contentBorder {
        padding: 20px 0 20px 0;
    }
    .tech_secTitleBlock p {
        font-size: 3.5vw;
        line-height: 1.5;
    }
    .tech_ancButton {
        max-width: 180px;
        max-height: 45px;
        width: 42.05vw;
        height: 10.51vw;
        font-size: 3.5vw;
    }
    .collapsible {
        display: none;
    }
    .tech_textBlock {
        width: 100%;
        max-height: 369px;
    }
    .tech_textBlock h1 {
        font-size: 6.07vw;
    }
    .tech_textBlock p, .navigation li {
        font-size: 4.2vw;
    }
    h1, h2 {
        font-size: 6.25vw;
    }
}